=link_to 'Orders', '/', class: 'btn btn-primary primary-button'
= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-primary primary-button', method: :delete, title: "Log out of the system"