.card.h-100
    %h1 订单详情
    .card.body
        %h2 商品：
        %br/
        %br/
        %br/
        %br/
        %h2 联系信息：
    .card.footer 
        %p 感谢您的支持

%br/
= link_to '一键下单', '/', class:'btn btn-primary'