- content_for :title, 'Log In'
%br/
%br/
%br/
.row.justify-content-center.ms-3.me-3
  .col-sm-6.col-lg-4
    .card.card-light
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .card-header
          登陆
        .card-body
          = f.input :email, autofocus: true, required: true,label: '邮箱地址'
          = f.input :password, required: true,label: '密码'
        .card-footer
          %button.btn.btn-primary.w-100.mt-2{ type: :submit }
            登陆
          .mt-3= render "devise/shared/links"
