!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      感谢关顾OscarBar！
    %p To #{@user.name}：
    %p
      您好：您已经成功下单:
    %p 您的订单是
    %a
      #{@products}
    %p 
      请耐心等待，我们会以最快的速度给你出餐！
      %br/

    %p
    %p 感谢您对OscarBar的支持，祝您有一个美好的一天!