!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to OscarBar, #{@user.name}
    %p
      You have successfully place your order,
      %br/
    %p
    %p Thanks you for supporting OscarBar and have a great day!