.card.align-items-center.mt-5.m-3.pb-5
    %h1.pt-3 请选择您想要支付的方式
    %br/
    .btn-block
        - @payments.each do |payment|
            = link_to "#{payment.name}", payment, class:'btn btn-primary'
